@(parentForm: Form[_], inline: Boolean, options: Seq[(String, String)], legend: String, field: Field)(implicit messages: Messages)

@hasError = @{
    parentForm.error(field.name).isDefined
}

<div class="form-group@if(hasError){ form-field--error}">
    <fieldset id="@{field.name}" @if(inline) { class="inline" }>
        <legend class="visuallyhidden">@legend</legend>
        @if(hasError){
        <span class="error-notification" role="tooltip" id="error-message-@field.name">@{Messages(s"${parentForm.error(field.name).get.message}.field")}</span>
        }
        @for(option <- options) {
        <div class="multiple-choice">
            <input id="@option._1" type="radio" name="@field.name" value="@option._1" data-journey-val="@option._1">
            <label for="@option._1">@option._2</label>
        </div>
        }
    </fieldset>
</div>
