@import play.api.data.Form
@import play.api.data._

@(form: Form[_])(implicit messages: Messages)

@errors = @{
    form.errors
}

@errMsg(err: FormError) = {
    <li role="tooltip">
        <a href="#@err.key">@{Messages(s"${err.message}.summary")}</a>
    </li>
}

@if(form.hasErrors) {

<div class="flash error-summary error-summary--show"
     id="error-summary-display"
     role="alert"
     aria-labelledby="error-summary-heading"
     tabindex="-1">
    <h2 id="error-summary-heading" class="h3-heading">@Messages("base.error_heading")</h2>
    <ul>
        @errors.map(errMsg)
    </ul>
</div>

}