@import models.NewAccountModel
@import helper._
@import views.html.helpers.summaryErrorHelper

@(form: Form[NewAccountModel])(implicit request: RequestHeader, messages: Messages)

@main(title = Messages("create_account.title")) {

    @summaryErrorHelper(form)

    <h1 id="choose">@Messages("create_account.heading")</h1>

    @helper.form(controllers.routes.CreateAccountController.submit()) {
        @helper.CSRF.formField
    <div class="forms-group">
        <label class="col-forms-label" for="firstName">First Name</label>
        <input class="forms-control" id="firstName" type="text" name="firstName">
    </div>
    <div class="forms-group">
        <label class="col-forms-label" for="lastName">Last Name</label>
        <input class="forms-control" id="lastName" type="text" name="lastName">
    </div>
   <div class="forms-group">
       <label class="col-forms-label" for="email">Email Address</label>
       <input class="forms-control" id="email" type="text" name="email">
   </div>
    <div class="forms-group">
        <label class="col-forms-label" for="password">Password</label>
        <input class="forms-control" id="password" type="text" name="password">
    </div>
    <div class="forms-group">
        <label class="col-forms-label" for="confirmPassword">Confirm Password</label>
        <input class="forms-control" id="confirmPassword" type="text" name="confirmPassword">
    </div>
    <div class="forms-group">
        <button id="continue" class="button" type="submit">@Messages("common.submit")</button>
    </div>
    }
}