@import views.html.main
@import forms.Login
@import helper._

@(forms: Form[Login])(implicit request: RequestHeader, messages: Messages)

@createAccountError = @{forms.hasErrors && forms.errors.map(error => error.key).contains("createAccount")}

@main("Create Account") {

    @if(forms.hasErrors) {
    <div class="error help-block">
        <h2 id="error-heading">@Messages("forms.errors")</h2>
        <ul>
            @if(createAccountError) {<li><a href="#choose" id="account_error">@Messages("createAccount.error.enterValidDetails")</a></li>}
        </ul>
    </div>
    }
    <h1 id="choose">@Messages("createAccount.heading")</h1>

    @form(action = CSRF(controllers.routes.CreateAccountController.submit())) {
        @CSRF.formField
   <div class="forms-group">
       <label class="col-forms-label" for="email">Email address</label>
       <input class="forms-control" id="email" type="text" name="email">
   </div>
    <div class="forms-group">
        <label class="col-forms-label" for="password">Password</label>
        <input class="forms-control" id="password" type="text" name="password">
    </div>
    <div class="forms-group">
        <button id="continue" class="button" type="submit">@Messages("common.continue")</button>
    </div>
    }
}