@import helper._
@import models.YesNoModel
@import views.html.helpers.{summaryErrorHelper, radioButtonHelper}

@(form: Form[YesNoModel])(implicit request: RequestHeader, messages: Messages)

@main(title = Messages("do_you_have_an_account.title")) {

    @summaryErrorHelper(form)

    <h1 class="heading-large">@Messages("do_you_have_an_account.heading")</h1>

    <div class="container-fluid">
        @helper.form(controllers.routes.DoYouHaveAnAccountController.submit()) {
            @CSRF.formField
            @radioButtonHelper(
                parentForm = form,
                inline = true,
                options = Seq(
                    ("yes", Messages("common.yes")),
                    ("no", Messages("common.no"))
                ),
                legend = Messages("do_you_have_an_account.heading"),
                field = form("answer")
            )
            <div class="form-group">
                <button id="continue" class="btn btn-primary" type="submit">@Messages("common.continue")</button>
            </div>
    </div>
    }
}
