@import helper._
@import forms.YesNoForm._
@import views.html.main
@import views.html.helpers.{summaryErrorHelper, radioButtonHelper}

@(yesNoForm: Form[YesNoModel], action: Call)(implicit request: RequestHeader, messages: Messages)

@main(title = Messages("doYouHaveAnAccount.title")) {

    @summaryErrorHelper(yesNoForm)

    <h1 class="heading-large">@Messages("doYouHaveAnAccount.heading")</h1>

    <div class="container-fluid">
        <form method="@action.method" action="@action.url">
            @CSRF.formField
            @radioButtonHelper(
                parentForm = yesNoForm,
                inline = true,
                options = Seq(
                    ("yes", Messages("common.yes")),
                    ("no", Messages("common.no"))
                ),
                legend = Messages("doYouHaveAnAccount.heading"),
                field = yesNoForm("answer")
            )
            <div class="form-group">
                <button id="continue" class="btn btn-primary" type="submit">@Messages("common.continue")</button>
            </div>
        </form>
    </div>
}
