@import helper._
@import forms.LoginForm
@import views.html.main
@import views.html.helpers.summaryErrorHelper

@(form: Form[LoginForm], action: Call)(implicit request: RequestHeader, messages: Messages)

@main(title = Messages("login.title")) {

    @summaryErrorHelper(form)


    <h1 id="choose">@Messages("login.heading")</h1>

        <form method="@action.method" action="@action.url">
            @CSRF.formField
            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inputUsername">@Messages("common.username")</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="@Messages("common.username")">
                </div>
                <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inputPassword">@Messages("common.password")</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputPassword" placeholder="@Messages("common.password")">
                    </div>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">@Messages("common.submit")</button>
                </div>
            </div>
        </form>
    }