@import views.html.main
@import forms.Login

@(forms: Form[Login])(implicit request: RequestHeader, messages: Messages)

@loginError = @{forms.hasErrors && forms.errors.map(error => error.key).contains("login")}

@main(title = Messages("login.title")) {

    @if(forms.hasErrors) {
    <div class="error help-block">
        <h2 id="error-heading">@Messages("forms.errors")</h2>
        <ul>
            @if(loginError) {<li><a href="#choose" id="account_error">@Messages("existingAccount.error.chooseAnswer")</a></li>}
        </ul>
    </div>
    }
    <h1 id="choose">@Messages("login.heading")</h1>

    @helper.form(action = controllers.routes.LoginPageController.submit()) {
   <div class="forms-group">
       <label class="col-forms-label" for="userName">User Name</label>
       <input class="forms-control" id="userName" type="text" name="userName">
   </div>
    <div class="forms-group">
        <label class="col-forms-label" for="password">Password</label>
        <input class="forms-control" id="password" type="text" name="password">
    </div>
    <div class="forms-group">
        <button id="continue" class="button" type="submit">@Messages("common.continue")</button>
    </div>
    }
}