@import views.html.helpers.summaryErrorHelper
@import views.html.helper.CSRF

@(form: Form[YesNoModel])(implicit request: RequestHeader, messages: Messages)

@main(title = Messages("your_details.title")) {

    <h1>@Messages("your_details.heading")</h1>

    <table>
        <caption class="heading-small">Your Details</caption>
        <tbody>
            <tr>
                <td>First Name</td>
                <td>Joe</td>
                <td>change</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>Bloggs</td>
                <td>change</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>example@@example.com</td>
                <td>change</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>********</td>
                <td>change</td>
            </tr>
        </tbody>
    </table>

    @* Todo: Finish developing this page *@

}
